/* Modified from https://stackoverflow.com/a/4772988 */
.hwraplist ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}

.hwraplist li {
  list-style-type: none;
  float: left;
  margin: 0;
}

figcaption {
  text-align: center;
}

figure {
  margin: 0;
}

.block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 104px;
  font-weight: bold;

  visibility: hidden;
}

button.civ {
  position: relative;
}
